---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import PagesButtons from "../components/PagesButtons.astro";
---

<Layout title="Hugo's Portfolio">
  <main>
    <Title content="Welcome to Hugo's Portfolio" />
    <PagesButtons />
  </main>
</Layout>
