---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import PagesButtons from "../components/PagesButtons.astro";
import SocialButtons from "../components/SocialButtons.astro";
---

<Layout title="Hugo's Portfolio">
  <main class="h-screen flex flex-col items-center justify-center">
    <Title content="Welcome to Hugo's Portfolio" />
    <PagesButtons />
    <SocialButtons />
  </main>
</Layout>
