---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Biography from "../components/Biography.astro"
---

<Layout title="Hugo's Portfolio">
  <main>
    <Hero />
    <Biography />
  </main>
</Layout>
