---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SocialButtons from "../components/SocialButtons.astro";
---

<Layout title="Hugo's Portfolio">
  <main>
    <Hero title="Hugo's Portfolio" />
    <SocialButtons />
  </main>
</Layout>
