---
import MediaCard from "./MediaCard.astro"
import ContentStyling from "../components/ContentStyling.astro"
import { getEntry } from 'astro:content';

const biographyRes = await getEntry('biography', 'biography');

const { Content } = await biographyRes.render();
---

<section class="snap-end relative flex flex-col lg:flex-row gap-8 min-h-[calc(100vh-4rem)] py-28">
    <div class="space-y-4">
        <h2 class="font-bold text-5xl mb-12">Biography</h2>
        <ContentStyling>
            <Content />
        </ContentStyling>
    </div>
</section>
