---
import DownArrow from "../components/DownArrow.astro"
---

<section class="relative min-h-svh py-24 px-24 bg-colorbg dark:bg-darkcolorbg">
    <h2 class="font-bold text-5xl mb-16">Biography</h2>
    <p class="text-lg font-regular">I was born and raised in Spain. Spent most of my childhood and </p>

    <DownArrow />
</section>