---
import CareerBullets from '../components/CareerBullets.astro'
import ContentStyling from '../components/ContentStyling.astro'
import { getEntry } from 'astro:content'

const biographyRes = await getEntry('biography', 'biography')

const { Content } = await biographyRes.render()

const educationCenters = [
  {
    name: 'Dominicas Aranda',
    src: 'media/dominicas-aranda.png',
    interval: '2003 - 2016',
  },
  {
    name: 'Vela Zanetti',
    src: 'media/vela-zanetti.png',
    interval: '2017 - 2019',
  },
  {
    name: 'UC3M',
    src: 'media/uc3m.png',
    interval: '2019 - 2023',
  },
]

const workCenters = [
  {
    name: 'Empathy.co',
    src: 'media/empathy.png',
    interval: '2023 - ...',
  },
]
---

<section class="flex flex-col gap-8">
  <div class="space-y-4">
    <h2 class="text-secondary font-bold text-5xl mb-12">Biography</h2>
    <ContentStyling>
      <Content />
    </ContentStyling>
  </div>
  <div class="flex gap-16">
    <CareerBullets title="Education" content={educationCenters} />
    <CareerBullets title="Work Experience" content={workCenters} />
  </div>
</section>
