---
import MediaCard from "./MediaCard.astro"
import DownArrow from "../components/DownArrow.astro"
---

<section class="relative flex flex-row gap-8 min-h-svh py-28 w-9/12 mx-auto bg-colorbg dark:bg-customblack">
    <div>
        <h2 class="font-bold text-5xl mb-12 text-accent">Biography</h2>
        <p class="text-lg font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet ligula eget magna vehicula tempor. Sed a tortor aliquam, porta ex ac, vulputate turpis. Cras sit amet blandit arcu, ut posuere justo. Morbi et egestas odio. Praesent non arcu pellentesque, euismod odio et, convallis erat. Proin quis ipsum enim. Aliquam erat volutpat. Phasellus quam quam, mollis non tincidunt eget, placerat laoreet elit. Cras et tellus elit. Suspendisse varius non ante ac suscipit. Duis at malesuada nisi.</p>
    </div>
    <MediaCard src="media/selfie-hugo.jpg" alt="Selfie Hugo"/>
    <DownArrow id="down-arrow-biography"/>
</section>