---
import CareerBullets from '../components/CareerBullets.astro'
import ContentStyling from '../components/ContentStyling.astro'
import { getCollection, getEntry } from 'astro:content'

const biographyRes = await getEntry('biography', 'biography')

const { Content } = await biographyRes.render()

const educationCollection = await getCollection('education')
const careerCollection = await getCollection('career')

const sortByInterval = (a: any, b: any) => {
  if (a.data.interval < b.data.interval) return -1
  if (a.data.interval > b.data.interval) return 1
  return 0
}

const sortedEducationCenters = educationCollection.sort(sortByInterval)
const sortedCareerCenters = careerCollection.sort(sortByInterval)

const educationCenters = sortedEducationCenters.map((item) => ({
  name: item.data.name,
  src: item.data.src,
  interval: item.data.interval,
}))

const workCenters = sortedCareerCenters.map((item) => ({
  name: item.data.name,
  src: item.data.src,
  interval: item.data.interval,
}))
---

<section class="flex flex-col gap-8">
  <div class="space-y-4">
    <h2 class="text-secondary font-bold text-5xl mb-12">Biography</h2>
    <ContentStyling>
      <Content />
    </ContentStyling>
  </div>
  <div class="flex gap-16">
    <CareerBullets title="Education" content={educationCenters} />
    <CareerBullets title="Work Experience" content={workCenters} />
  </div>
</section>
