---
import CareerBullets from './CareerBullets.astro'

const educationCenters = [
    {
        name: 'Dominicas Aranda',
        src: 'media/dominicas-aranda.png',
        interval: '2003 - 2016'
    },
    {
        name: 'Vela Zanetti',
        src: 'media/vela-zanetti.png',
        interval: '2017 - 2019'
    },
    {
        name: 'UC3M',
        src: 'media/uc3m.png',
        interval: '2019 - 2023'
    }
];

const workCenters = [
    {
        name: 'Empathy.co',
        src: 'media/empathy.png',
        interval: '2023 - ...'
    }
];
---
<div class="min-h-[calc(100vh-4rem)] flex flex-col py-28 snap-end">
    <h2 class="font-bold text-5xl mb-12">Career</h2>
    <CareerBullets title="Education" content={educationCenters}/>
    <CareerBullets title="Work Experience" content={workCenters} />
</div>
