---
import { Card, CardContent } from '../components/ui/card'

interface Props {
  title: string
  content: Array<any>
}

const { title, content } = Astro.props
---

<div class="flex flex-col gap-4">
  <h2 class="text-2xl font-semibold tracking-tight text-purple-400">{title}</h2>
  {
    content.map((element) => (
      <div class="space-y-6">
        <Card className="dark:border-slate-800 dark:bg-slate-900/50">
          <CardContent className="p-6">
            <div class="flex items-center gap-4">
              <div class="grid gap-1">
                <h3 class="font-semibold">{element.name}</h3>
                <p class="text-sm text-slate-400">
                  {element.title} • {element.interval}
                </p>
              </div>
            </div>
          </CardContent>
        </Card>
      </div>
    ))
  }
</div>
