---
import PagesButtons from "./PagesButtons.astro"
---

<div class="absolute top-0 left-0 w-full min-h-16 px-16 dark:bg-black drop-shadow-xl flex flex-row justify-between items-center">
    <div class="flex flex-row justify-center items-center gap-4">
        <img src="icons/logo.svg" alt="H Logo" class="w-10" />
        <p class="font-bold">Hugo García</p>
    </div>

    <PagesButtons />
</div>