---
import HeaderButtons from './HeaderButtons.astro'
---

<div
  class="fixed z-10 w-full h-20 bg-white dark:bg-slate-950 drop-shadow-xl flex flex-row justify-center items-center"
>
  <div
    class="flex justify-between items-center w-[85%] md:max-w-[900px] mx-auto"
  >
    <div class="flex flex-row justify-center items-center gap-4">
      <p class="text-xl md:text-3xl font-bold select-none">Hugo García</p>
    </div>
    <HeaderButtons />
  </div>
</div>
