---
import DownArrow from "../components/DownArrow.astro"
---

<section class="h-[calc(100vh-4rem)] snap-end relative flex flex-col gap-12 justify-center items-center text-center">
  <h1 class="font-bold text-6xl">
    Hi! I am <span class="text-accent">Hugo</span>
  </h1>
  <h3 class="text-lg font-semibold">Start scrolling and discover more about me</h3>
  <DownArrow id="down-arrow-biography"/>
</section>

