---
interface Props {
    src: string;
    alt: string;
}

const {src, alt} = Astro.props
---

<div class="flex justify-center bg-slate-500 bg-opacity-20 p-4 w-fit h-fit rounded-md hover:scale-105 transition-transform duration-300 cursor-pointer">
    <img src={src} alt={alt} />
</div>