---
const pages: Array<any> = [
  {
    title: "Who am I?",
    url: "/about",
    icon: "person"
  },
  { title: "Education", url: "/education", icon:"education"},
  { title: "Work Experience", url: "/work-experience", icon:"briefcase" },
  { title: "Stack", url: "/stack", icon:"book" },
  { title: "Projects", url: "/projects", icon:"rocket" },
];
---

<div
  class="flex flex-col gap-8"
>
  {
    pages.map((page) => (
      <a
        class="flex flex-row gap-4 justify-center p-3 bg-slate-200 rounded-lg drop-shadow-xl transform hover:scale-110 duration-500"
        href={page.url}
      >
        <img class="w-8" src={`icons/${page.icon}.svg`} alt={`${page.title} icon`} />
        <h3 class="text-lg font-semibold text-black">{page.title}</h3>
      </a>
    ))
  }
</div>