---
import DownArrow from "../components/DownArrow.astro"
---

<section class="relative flex flex-row gap-8 min-h-svh py-28 w-9/12 mx-auto bg-colorbg dark:bg-customblack">
    <DownArrow id="down-arrow-biography"/>
</section>