---
import ProjectsGrid from '../components/ProjectsGrid.astro'
---

<section class="snap-end relative flex flex-col gap-4 py-28">
  <h2 class="text-accent font-bold text-5xl mb-12">Projects</h2>
  <ProjectsGrid />
</section>

