---
import ProjectsGrid from "../components/ProjectsGrid.astro"
import DownArrow from "../components/DownArrow.astro"
---

<section class="snap-end relative flex flex-col gap-4 min-h-svh py-28 w-9/12 mx-auto bg-colorbg dark:bg-customblack">
    <h2 class="font-bold text-5xl mb-12 text-accent">Projects</h2>
    <ProjectsGrid />
    <DownArrow id="down-arrow-biography"/>
</section>