---
import ProjectCard from "../components/ProjectCard.astro"
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <ProjectCard title="AI2THOR" description="Interactive household task plan generator on iTHOR simulation environment" src="/media/ai2thor.png" alt="iTHOR task examples" link="https://github.com/xHugo21/ai2thor-hugo" technologies={["Python", "PDDL"]} />
    <ProjectCard title="AI2THOR" description="Interactive household task plan generator on iTHOR simulation environment" src="/media/ai2thor.png" alt="iTHOR task examples" link="https://github.com/xHugo21/ai2thor-hugo" technologies={["Python", "PDDL"]} />
    <ProjectCard title="AI2THOR" description="Interactive household task plan generator on iTHOR simulation environment" src="/media/ai2thor.png" alt="iTHOR task examples" link="https://github.com/xHugo21/ai2thor-hugo" technologies={["Python", "PDDL"]} />
    <ProjectCard title="AI2THOR" description="Interactive household task plan generator on iTHOR simulation environment" src="/media/ai2thor.png" alt="iTHOR task examples" link="https://github.com/xHugo21/ai2thor-hugo" technologies={["Python", "PDDL"]} />
    <ProjectCard title="AI2THOR" description="Interactive household task plan generator on iTHOR simulation environment" src="/media/ai2thor.png" alt="iTHOR task examples" link="https://github.com/xHugo21/ai2thor-hugo" technologies={["Python", "PDDL"]} />
    <ProjectCard title="AI2THOR" description="Interactive household task plan generator on iTHOR simulation environment" src="/media/ai2thor.png" alt="iTHOR task examples" link="https://github.com/xHugo21/ai2thor-hugo" technologies={["Python", "PDDL"]} />
</div>