---
import ProjectsGrid from '../components/ProjectsGrid.astro'
---

<section class="snap-end relative flex flex-col gap-4 mb-28">
  <h2 class="text-purple-400 font-bold text-4xl mb-8">Projects</h2>
  <ProjectsGrid />
</section>
