---
import { Github, Linkedin, Mail } from 'lucide-astro'
---

<div class="flex flex-row gap-6">
  <a
    class="w-6 duration-500 transition-transform hover:scale-105"
    href="https://github.com/xHugo21"
    target="_blank"
  >
    <Github />
  </a>
  <a
    class="w-6 duration-500 transition-transform hover:scale-105"
    href="https://www.linkedin.com/in/hugogarciacuesta"
    target="_blank"
  >
    <Linkedin />
  </a>
  <a
    class="w-6 duration-500 transition-transform hover:scale-105"
    href="mailto:hugo2121h@gmail.com"
    target="_blank"
  >
    <Mail />
  </a>
</div>
