---

---

<div class="flex flex-row gap-4 absolute bottom-0 right-0">
  <a
    href="www.linkedin.com/in/hugogarciacuesta"
    target="_blank"
    rel="noopener noreferrer"
    id="linkedin"
    class={`flex justify-center bg-secondary transform hover:scale-110 border-2 w-12 h-12 rounded-full duration-500 text-cyan-200 border-cyan-200 hover:bg-cyan-200`}
  >
    <img src={`/icons/linkedin.svg`} alt="linkedin" class="w-1/2" />
  </a>

  <a
    href="https://github.com/xHugo21"
    target="_blank"
    rel="noopener noreferrer"
    id="github"
    class={`flex justify-center bg-secondary transform hover:scale-110 border-2 w-12 h-12 rounded-full duration-500 text-slate-500 border-slate-500 hover:bg-slate-500`}
  >
    <img src={`/icons/github.svg`} alt="github" class="w-1/2" />
  </a>
</div>
