---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<div class="flex justify-center mb-16 text-center">
  <h1 class="text-primary font-bold text-7xl drop-shadow-lg">{content}</h1>
</div>
